
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
    
}

    <div class="main-background">
        <div style="display:flex;flex-direction:column;">
            <div style="font-size:200px;"> HELLO !!! </div>
            <div  style="padding: 20px; text-decoration: none; margin-left: auto; margin-right: auto; background-color: #f59107 ">
                <a style="text-decoration: none;color:white; " href="@Url.Action("AddNghiPhep","HomeClient")"> XIN NGHỈ PHÉP </a>
            </div>
        </div>
    </div>

